*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.el
auto/*
tex/synopsis/*.pdf
tex/synopsis/*.thm
tex/synopsis/*.xml
tex/synopsis/*.bib
tex/report/*.pdf
tex/report/*.thm
tex/report/*.xml
tex/report/*.bib
tex/report/*.bcf
dist_*/
dist/
logs/
/results
*.hi
*.o
bin/
build/
.shake.database
*.swp
.shelly/
temp.cu
temp.fatbin
/tex/report/master.nls
/tex/report/master.tdo
